
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/apple-touch-icon.png"/>
<link rel="shortcut icon" href="../../assets/images/favicon.png"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<meta charSet="utf-8"/>
<title>Materio - Material Design React Admin Template
</title>
<meta name="description" content="Materio – Material Design React Admin Dashboard Template – is the most developer friendly &amp; highly customizable Admin Dashboard Template based on MUI v5."/>
<meta name="keywords" content="Material Design, MUI, Admin Template, React Admin Template"/>
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<meta name="next-head-count" content="5"/>
<link rel="preload" href="/_next/static/css/6d5ec1825ef0b9a5.css" as="style"/>
<link rel="stylesheet" href="/_next/static/css/6d5ec1825ef0b9a5.css" data-n-g=""/>
<noscript data-n-css="">
</noscript>
<script defer="" nomodule="" src="/_next/static/chunks/polyfills-5cd94c89d3acac5f.js">
</script>
<script src="/_next/static/chunks/webpack-7560373c9faa4dee.js" defer="">
</script>
<script src="/_next/static/chunks/framework-8957c350a55da097.js" defer="">
</script>
<script src="/_next/static/chunks/main-f65253c7c555ee10.js" defer="">
</script>
<script src="/_next/static/chunks/pages/_app-b686546f2d9af5ac.js" defer="">
</script>
<script src="/_next/static/chunks/657-514f0e1fc1261041.js" defer="">
</script>
<script src="/_next/static/chunks/4-991558c5d0368788.js" defer="">
</script>
<script src="/_next/static/chunks/854-4c29f464d9a6f2aa.js" defer="">
</script>
<script src="/_next/static/chunks/pages/cards-7e2598f0c7d73124.js" defer="">
</script>
<script src="/_next/static/y58Xs8ugEt13mg5fncY-K/_buildManifest.js" defer="">
</script>
<script src="/_next/static/y58Xs8ugEt13mg5fncY-K/_ssgManifest.js" defer="">
</script>
<script src="/_next/static/y58Xs8ugEt13mg5fncY-K/_middlewareManifest.js" defer="">
</script>


</head>
<body>
<div id="__next">
<div class="layout-wrapper css-uinsfl">
<div class="MuiDrawer-root MuiDrawer-docked layout-vertical-nav css-agsicw">
<app-expbar2></app-expbar2>
</div>
<div class="layout-content-wrapper MuiBox-root css-34b9xr">
     <app-expbar></app-expbar>
<main class="layout-page-content css-zyg32b">
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-h2qpui">
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-lovg0e">
<h5 class="MuiTypography-root MuiTypography-h5 css-f2gabn">Basic Cards
</h5>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardMedia-root css-1i7xky9" role="img" style="background-image:url(&quot;../../assets/images/cards/glass-house.png&quot;)">
</div>
<div class="MuiCardContent-root css-12evlce">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Influencing The Influencer
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism minister predicts Cancun will draw as many visitors in 2006 as it did two years ago.
</p>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-19gxiau">
<div class="MuiCardMedia-root css-1h42ltx" role="img" style="background-image:url(&quot;../../assets/images/cards/background-user.png&quot;)">
</div>
<div class="MuiAvatar-root MuiAvatar-circular css-uhqcw1">
<img alt="Robert Meyer" src="../../assets/images/avatars/1.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<div class="MuiCardContent-root css-12evlce">
<div class="MuiBox-root css-1r8t4m1">
<div class="MuiBox-root css-1vv9pfu">
<h6 class="MuiTypography-root MuiTypography-h6 css-14t9e1w">Robert Meyer
</h6>
<span class="MuiTypography-root MuiTypography-caption css-hy29ye">London, UK
</span>
</div>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-18wio34" tabindex="0" type="button">Send Request
</button>
</div>
<div class="MuiBox-root css-1l3xm5v">
<h6 class="MuiTypography-root MuiTypography-subtitle2 css-1x4mal0">18 mutual friends
</h6>
<div class="MuiAvatarGroup-root css-1xq10e6">
<div class="MuiAvatar-root MuiAvatar-circular MuiAvatar-colorDefault MuiAvatarGroup-avatar css-ov3z48">+
<!-- -->4
</div>
<div class="MuiAvatar-root MuiAvatar-circular MuiAvatarGroup-avatar css-myq8ov">
<img alt="Howard Lloyd" src="../../assets/images/avatars/3.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<div class="MuiAvatar-root MuiAvatar-circular MuiAvatarGroup-avatar css-myq8ov">
<img alt="Jeffery Warner" src="../../assets/images/avatars/7.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<div class="MuiAvatar-root MuiAvatar-circular MuiAvatarGroup-avatar css-myq8ov">
<img alt="Alice Cobb" src="../../assets/images/avatars/8.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardMedia-root css-1i7xky9" role="img" style="background-image:url(&quot;../../assets/images/cards/paper-boat.png&quot;)">
</div>
<div class="MuiCardContent-root css-12evlce">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Popular Uses Of The Internet
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Although cards can support multiple actions, UI controls, and an overflow menu.
</p>
</div>
<div class="MuiCardActions-root MuiCardActions-spacing card-action-dense css-1hlxhdc">
<div class="MuiBox-root css-12d2mry">
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Details
</button>
<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeSmall css-17q2my2" tabindex="0" type="button">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-y21f0p" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ChevronDownIcon">
<path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z">
</path>
</svg>
</button>
</div>
</div>
<div class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden css-a0y2e3" style="min-height:0px">
<div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
<div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
<hr class="MuiDivider-root MuiDivider-fullWidth css-xfjw6h"/>
<div class="MuiCardContent-root css-12evlce">
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">I′m a thing. But, like most politicians, he promised more than he could deliver. You won′t have time for sleeping, soldier, not with all the bed making you′ll be doing. Then we′ll go with that data file! Hey, you add a one and two zeros to that or we walk! You′re going to do his laundry? I′ve got to find a way to escape.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-h2qpui">
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-5 css-1jcvbtv">
<div class="MuiCardContent-root css-3osu7n">
<img width="137" height="176" alt="Apple iPhone 11 Pro" src="../../assets/images/cards/iPhone-11-pro.png"/>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-7 css-9pyzs0">
<div class="MuiCardContent-root css-12evlce">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Apple iPhone 11 Pro
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-py0ukd">Apple iPhone 11 Pro smartphone. Announced Sep 2019. Features 5.8″ display Apple A13 Bionic
</p>
<p class="MuiTypography-root MuiTypography-body1 css-o5y0kh">Price:
<!-- --> 
<span class="MuiBox-root css-1vg6q84">$899
</span>
</p>
</div>
<div class="MuiCardActions-root MuiCardActions-spacing card-action-dense css-1hlxhdc">
<div class="MuiBox-root css-z7mtfw">
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-1b76ufd" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CartPlusIcon">
<path d="M11,9H13V6H16V4H13V1H11V4H8V6H11M7,18A2,2 0 0,0 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20A2,2 0 0,0 7,18M17,18A2,2 0 0,0 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20A2,2 0 0,0 17,18M7.17,14.75L7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.59 17.3,11.97L21.16,4.96L19.42,4H19.41L18.31,6L15.55,11H8.53L8.4,10.73L6.16,6L5.21,4L4.27,2H1V4H3L6.6,11.59L5.25,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42C7.29,15 7.17,14.89 7.17,14.75Z">
</path>
</svg>Add to Card
</button>
<button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-i9hf7q" tabindex="0" type="button" id="long-button" aria-label="share" aria-haspopup="true" aria-controls="long-menu">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-1k33q06" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ShareVariantIcon">
<path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z">
</path>
</svg>
</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-h2qpui">
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 MuiGrid-grid-lg-7 css-ea6x8l">
<div class="MuiCardContent-root css-12evlce">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Stumptown Roasters
</h6>
<div class="MuiBox-root css-1rskb2">
<span class="MuiRating-root MuiRating-sizeMedium MuiRating-readyOnly css-vdogl9" role="img" aria-label="5 Stars">
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
</span>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">5 Star | 98 reviews
</p>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-eemp71">Before there was a United States of America, there were coffee houses, because how are you supposed to build.
</p>
</div>
<div class="MuiCardActions-root MuiCardActions-spacing card-action-dense css-1g3mdot">
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Location
</button>
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Reviews
</button>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 MuiGrid-grid-lg-5 css-8jknw0">
<div class="MuiCardContent-root css-3osu7n">
<img alt="Stumptown Roasters" src="../../assets/images/cards/analog-clock.jpg" class="css-1qa0psm"/>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardMedia-root css-hc0gh5" role="img" style="background-image:url(&quot;../../assets/images/cards/watch-on-hand.jpg&quot;)">
</div>
<div class="MuiCardContent-root css-1swgvnq">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Apple Watch
</h6>
<p class="MuiTypography-root MuiTypography-body1 css-1lbjb07">$249.40
</p>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">3.1GHz 6-core 10th-generation Intel Core i5 processor, Turbo Boost up to 4.5GHz
</p>
</div>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-jkrzzo" tabindex="0" type="button">Add To Cart
</button>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8 css-efwuvd">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-h2qpui">
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-7 css-16ykuap">
<div class="MuiCardContent-root css-f9gcyq">
<h6 class="MuiTypography-root MuiTypography-h6 css-1eh1gcr">Lifetime Membership
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party or for picking up women or men.
</p>
<hr class="MuiDivider-root MuiDivider-fullWidth css-1kemqmr"/>
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4 css-920k2u">
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-5 css-5n7nhl">
<div class="MuiBox-root css-1g2ajuq">
<div class="MuiBox-root css-xdmj6w">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-95m1ec" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LockOpenOutlineIcon">
<path d="M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10A2,2 0 0,1 6,8H15V6A3,3 0 0,0 12,3A3,3 0 0,0 9,6H7A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,17A2,2 0 0,1 10,15A2,2 0 0,1 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Full Access
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-95m1ec" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccountOutlineIcon">
<path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">15 Members
</p>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-7 css-16ykuap">
<div class="MuiBox-root css-xdmj6w">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-95m1ec" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarOutlineIcon">
<path d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Access all Features
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-95m1ec" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="TrendingUpIcon">
<path d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Lifetime Free Update
</p>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-5 css-vupioa">
<div class="MuiCardContent-root css-yhw7cm">
<div class="MuiBox-root css-0">
<div class="MuiBox-root css-woyur0">
<h6 class="MuiTypography-root MuiTypography-h6 css-14t9e1w">$
</h6>
<h6 class="MuiTypography-root MuiTypography-h6 css-xb2k5q">899
</h6>
<h6 class="MuiTypography-root MuiTypography-h6 css-14t9e1w">USD
</h6>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-1yg06zs">
<span>5 Tips For Offshore
</span>
<span>Software Development
</span>
</p>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-18wio34" tabindex="0" type="button">Contact Now
</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardHeader-root css-891gu0">
<div class="MuiCardHeader-content css-11qjisw">
<span class="MuiTypography-root MuiTypography-h5 MuiCardHeader-title css-zy87dv">Influencing The Influencer
</span>
</div>
</div>
<div class="MuiCardContent-root css-12evlce">
<p class="MuiTypography-root MuiTypography-body2 css-8ldofi">Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay in touch.
</p>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">If you’re in the market for new desktops, notebooks, or PDAs, there are a myriad of choices. Here’s a rundown of some of the best systems available.
</p>
</div>
<div class="MuiCardActions-root MuiCardActions-spacing card-action-dense css-1hlxhdc">
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Read More
</button>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardHeader-root css-891gu0">
<div class="MuiCardHeader-content css-11qjisw">
<span class="MuiTypography-root MuiTypography-h5 MuiCardHeader-title css-zy87dv">The Best Answers
</span>
</div>
</div>
<div class="MuiCardContent-root css-12evlce">
<div class="MuiBox-root css-r8yxm7">
<span class="MuiRating-root MuiRating-sizeMedium MuiRating-readyOnly css-vdogl9" role="img" aria-label="5 Stars">
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
<span>
<span class="MuiRating-icon MuiRating-iconFilled css-1cif0ti">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit css-1cw4hi4" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="StarIcon">
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
</path>
</svg>
</span>
</span>
</span>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">5 Star | 98 reviews
</p>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-8ldofi">If you are looking for a new way to promote your business that won’t cost you more money, maybe printing is one of the options you won’t resist.
</p>
<p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Printing is a widely use process in making printed materials that are used for advertising. It become fast, easy and simple. If you want your promotional material to be an eye-catching.
</p>
</div>
<div class="MuiCardActions-root MuiCardActions-spacing card-action-dense css-1hlxhdc">
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Location
</button>
<button class="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1c2xoy7" tabindex="0" type="button">Reviews
</button>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiCardContent-root css-qkeyyk">
<div class="MuiAvatar-root MuiAvatar-circular MuiAvatar-colorDefault css-1ji2cfd">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-x1tti5" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HelpCircleOutlineIcon">
<path d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z">
</path>
</svg>
</div>
<h6 class="MuiTypography-root MuiTypography-h6 css-1ig1r3r">Support
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-mmq31">According to us blisters are a very common thing and we come across them very often in our daily lives. It is a very common occurrence like cold or fever depending upon your lifestyle.
</p>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-1pvn0xi" tabindex="0" type="button">Contact Now
</button>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-159lkow">
<h5 class="MuiTypography-root MuiTypography-h5 css-f2gabn">Navigation Cards
</h5>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-iol86l">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiTabs-root css-sc9gfg">
<div class="MuiTabs-scroller MuiTabs-fixed css-18jpbi7" style="overflow:hidden;margin-bottom:0">
<div aria-label="card navigation example" class="MuiTabs-flexContainer css-7sga7m" role="tablist">
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected css-1ti8bl7" tabindex="0" type="button" role="tab" aria-selected="true">Item One
<span class="MuiTabs-indicator css-1nss4zi">
</span>
</button>
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1ti8bl7" tabindex="-1" type="button" role="tab" aria-selected="false">Item Two
</button>
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1ti8bl7" tabindex="-1" type="button" role="tab" aria-selected="false">Item Three
</button>
</div>
</div>
</div>
<div class="MuiCardContent-root css-12evlce">
<div class="MuiTabPanel-root css-mp8pt5" role="tabpanel">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Header One
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-eemp71">Pudding tiramisu caramels. Gingerbread gummies danish chocolate bar toffee marzipan. Wafer wafer cake powder danish oat cake.
</p>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-18wio34" tabindex="0" type="button">Button One
</button>
</div>
<div class="MuiTabPanel-root css-mp8pt5" hidden="" role="tabpanel">
</div>
<div class="MuiTabPanel-root css-mp8pt5" hidden="" role="tabpanel">
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-iol86l">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
<div class="MuiTabs-root css-sc9gfg">
<div class="MuiTabs-scroller MuiTabs-fixed css-18jpbi7" style="overflow:hidden;margin-bottom:0">
<div aria-label="card navigation example" class="MuiTabs-flexContainer MuiTabs-centered css-rgrd3l" role="tablist">
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected css-1ti8bl7" tabindex="0" type="button" role="tab" aria-selected="true">Item One
<span class="MuiTabs-indicator css-1nss4zi">
</span>
</button>
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1ti8bl7" tabindex="-1" type="button" role="tab" aria-selected="false">Item Two
</button>
<button class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1ti8bl7" tabindex="-1" type="button" role="tab" aria-selected="false">Item Three
</button>
</div>
</div>
</div>
<div class="MuiCardContent-root css-wunbjb">
<div class="MuiTabPanel-root css-mp8pt5" role="tabpanel">
<h6 class="MuiTypography-root MuiTypography-h6 css-10n93l7">Header One
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-eemp71">Pudding tiramisu caramels. Gingerbread gummies danish chocolate bar toffee marzipan. Wafer wafer cake powder danish oat cake.
</p>
<button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-18wio34" tabindex="0" type="button">Button One
</button>
</div>
<div class="MuiTabPanel-root css-mp8pt5" hidden="" role="tabpanel">
</div>
<div class="MuiTabPanel-root css-mp8pt5" hidden="" role="tabpanel">
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-159lkow">
<h5 class="MuiTypography-root MuiTypography-h5 css-f2gabn">Solid Cards
</h5>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1skd2hj">
<div class="MuiCardContent-root css-6dfu4x">
<h6 class="MuiTypography-root MuiTypography-h6 css-rspzk8">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1b68g5i" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="TwitterIcon">
<path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z">
</path>
</svg>Twitter Card
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-oihcrp">Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well.
</p>
<div class="MuiBox-root css-1c8ux76">
<div class="MuiBox-root css-10kuq41">
<div class="MuiAvatar-root MuiAvatar-circular css-otvaya">
<img alt="Mary Vaughn" src="../../assets/images/avatars/4.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">Mary Vaughn
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<div class="MuiBox-root css-17pdm1s">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HeartIcon">
<path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">1.2k
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ShareVariantIcon">
<path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">80
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-dwfir5">
<div class="MuiCardContent-root css-6dfu4x">
<h6 class="MuiTypography-root MuiTypography-h6 css-rspzk8">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1b68g5i" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="FacebookIcon">
<path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z">
</path>
</svg>Facebook Card
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-oihcrp">You’ve read about the importance of being courageous, rebellious and imaginative. These are all vital ingredients in an effective.
</p>
<div class="MuiBox-root css-1c8ux76">
<div class="MuiBox-root css-10kuq41">
<div class="MuiAvatar-root MuiAvatar-circular css-otvaya">
<img alt="Eugene Clarke" src="../../assets/images/avatars/1.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">Eugene Clarke
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<div class="MuiBox-root css-17pdm1s">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HeartIcon">
<path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">3.2k
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ShareVariantIcon">
<path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">49
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 css-1twzmnh">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-ali7iv">
<div class="MuiCardContent-root css-6dfu4x">
<h6 class="MuiTypography-root MuiTypography-h6 css-rspzk8">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1b68g5i" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="LinkedinIcon">
<path d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z">
</path>
</svg>LinkedIn Card
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-oihcrp">With the Internet spreading like wildfire and reaching every part of our daily life, more and more traffic is directed.
</p>
<div class="MuiBox-root css-1c8ux76">
<div class="MuiBox-root css-10kuq41">
<div class="MuiAvatar-root MuiAvatar-circular css-otvaya">
<img alt="Anne Burke" src="../../assets/images/avatars/8.png" class="MuiAvatar-img css-1hy9t21"/>
</div>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">Anne Burke
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<div class="MuiBox-root css-17pdm1s">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HeartIcon">
<path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">1.1k
</p>
</div>
<div class="MuiBox-root css-70qvj9">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-19qbrxc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ShareVariantIcon">
<path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z">
</path>
</svg>
<p class="MuiTypography-root MuiTypography-body2 css-mqhu4o">67
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="upgrade-to-pro-button mui-fixed MuiBox-root css-1j2q1g7">
<a class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-gjvgh5" tabindex="0" target="_blank" href="https://themeselection.com/products/materio-mui-react-nextjs-admin-template/">Upgrade To Pro
</a>
<div class="MuiBox-root css-up7irv" style="opacity:0;visibility:hidden;position:absolute;left:0;top:0">
<div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation9 css-1sdlr0r">
<a target="_blank" rel="noreferrer" href="https://themeselection.com/products/materio-mui-react-nextjs-admin-template/">
<img width="100%" alt="materio-pro-banner" src="../../assets/images/misc/materio-pro-banner.png"/>
</a>
<div class="MuiCardContent-root css-12evlce">
<h6 class="MuiTypography-root MuiTypography-h6 css-19jjok8">Materio - React Admin Template
</h6>
<p class="MuiTypography-root MuiTypography-body2 css-eemp71">Materio Admin is the most developer friendly &amp; highly customizable Admin Dashboard Template based on MUI and NextJS.
</p>
<p class="MuiTypography-root MuiTypography-body2 css-eemp71">Click on below buttons to explore PRO version.
</p>
<a class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-1ix9su3" tabindex="0" target="_blank" href="https://demos.themeselection.com/materio-mui-react-nextjs-admin-template/landing/">Demo
</a>
<a class="MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root  css-1lnlq3l" tabindex="0" target="_blank" href="https://themeselection.com/products/materio-mui-react-nextjs-admin-template/">Download
</a>
</div>
</div>
</div>
</div>
</main>
<footer class="layout-footer MuiBox-root css-1s71n78">
<div class="footer-content-container MuiBox-root css-1107r86">
<div class="MuiBox-root css-1c8ux76">
<p class="MuiTypography-root MuiTypography-body1 css-1eapbpu">© 2024, Made with 
<span class="MuiBox-root css-i6sm3l">❤️
</span> by 
<a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-1mer54f" target="_blank" href="https://themeselection.com/">ThemeSelection
</a>
</p>
<div class="MuiBox-root css-pcgvof">
<a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-1mer54f" target="_blank" href="https://github.com/themeselection/materio-mui-react-nextjs-admin-template-free/blob/main/LICENSE">MIT License
</a>
<a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-1mer54f" target="_blank" href="https://themeselection.com/">More Themes
</a>
<a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-1mer54f" target="_blank" href="https://github.com/themeselection/materio-mui-react-nextjs-admin-template-free/blob/main/README.md">Documentation
</a>
<a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-1mer54f" target="_blank" href="https://github.com/themeselection/materio-mui-react-nextjs-admin-template-free/issues">Support
</a>
</div>
</div>
</div>
</footer>
<div class="MuiBox-root css-jv5v1s">
<div class="MuiBox-root css-0" id="react-datepicker-portal">
</div>
</div>
</div>
</div>
<div class="mui-fixed css-sdi5m0" role="presentation" style="transform:scale(0);visibility:hidden">
<button class="MuiButtonBase-root MuiFab-root MuiFab-circular MuiFab-sizeSmall MuiFab-primary css-pue6qa" tabindex="0" type="button" aria-label="scroll back to top">
<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowUpIcon">
<path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z">
</path>
</svg>
</button>
</div>
</div>
<script id="__NEXT_DATA__" type="application/json">{"props":{"pageProps":{
}
},"page":"/cards","query":{
},"buildId":"y58Xs8ugEt13mg5fncY-K","nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]
}
</script>
</body>
</html>