<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../assets/images/inveepimg.jpg"
    />
    <link rel="shortcut icon" href="../../assets/images/inveepimg.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charSet="utf-8" />
    <title>INVEEP</title>
    <meta
      name="description"
      content="Materio – Material Design React Admin Dashboard Template – is the most developer friendly &amp; highly customizable Admin Dashboard Template based on MUI v5."
    />
    <meta
      name="keywords"
      content="Material Design, MUI, Admin Template, React Admin Template"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="next-head-count" content="5" />
    <link
      rel="preload"
      href="/_next/static/css/6d5ec1825ef0b9a5.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/6d5ec1825ef0b9a5.css"
      data-n-g=""
    />
    <noscript data-n-css=""> </noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-5cd94c89d3acac5f.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-7560373c9faa4dee.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-8957c350a55da097.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-f65253c7c555ee10.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-b686546f2d9af5ac.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/461-031bcea7a0836b9d.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/pages/login-3dbee12c30d50eee.js"
      defer=""
    ></script>
    <script
      src="/_next/static/y58Xs8ugEt13mg5fncY-K/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/y58Xs8ugEt13mg5fncY-K/_ssgManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/y58Xs8ugEt13mg5fncY-K/_middlewareManifest.js"
      defer=""
    ></script>
  </head>
  <body>
    <div id="__next">
      <div class="layout-wrapper MuiBox-root css-33gw4">
        <div class="app-content MuiBox-root css-1bguz3s">
          <div class="content-center MuiBox-root css-0">
            <div
              class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-2b2w37"
            >
              <div class="MuiCardContent-root css-1olb7mw">
                <div class="MuiBox-root css-1vmv954">
                  <svg
                    width="35"
                    height="29"
                    version="1.1"
                    viewBox="0 0 30 23"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Artboard"
                        transform="translate(-95.000000, -51.000000)"
                      >
                        <g
                          id="logo"
                          transform="translate(95.000000, 50.000000)"
                        >
                          <path
                            id="Combined-Shape"
                            fill="#9155FD"
                            d="M30,21.3918362 C30,21.7535219 29.9019196,22.1084381 29.7162004,22.4188007 C29.1490236,23.366632 27.9208668,23.6752135 26.9730355,23.1080366 L26.9730355,23.1080366 L23.714971,21.1584295 C23.1114106,20.7972624 22.7419355,20.1455972 22.7419355,19.4422291 L22.7419355,19.4422291 L22.741,12.7425689 L15,17.1774194 L7.258,12.7425689 L7.25806452,19.4422291 C7.25806452,20.1455972 6.88858935,20.7972624 6.28502902,21.1584295 L3.0269645,23.1080366 C2.07913318,23.6752135 0.850976404,23.366632 0.283799571,22.4188007 C0.0980803893,22.1084381 2.0190442e-15,21.7535219 0,21.3918362 L0,3.58469444 L0.00548573643,3.43543209 L0.00548573643,3.43543209 L0,3.5715689 C3.0881846e-16,2.4669994 0.8954305,1.5715689 2,1.5715689 C2.36889529,1.5715689 2.73060353,1.67359571 3.04512412,1.86636639 L15,9.19354839 L26.9548759,1.86636639 C27.2693965,1.67359571 27.6311047,1.5715689 28,1.5715689 C29.1045695,1.5715689 30,2.4669994 30,3.5715689 L30,3.5715689 Z"
                          ></path>
                          <polygon
                            id="Rectangle"
                            opacity="0.077704"
                            fill="#000"
                            points="0 8.58870968 7.25806452 12.7505183 7.25806452 16.8305646"
                          ></polygon>
                          <polygon
                            id="Rectangle"
                            opacity="0.077704"
                            fill="#000"
                            points="0 8.58870968 7.25806452 12.6445567 7.25806452 15.1370162"
                          ></polygon>
                          <polygon
                            id="Rectangle"
                            opacity="0.077704"
                            fill="#000"
                            points="22.7419355 8.58870968 30 12.7417372 30 16.9537453"
                            transform="translate(26.370968, 12.771227) scale(-1, 1) translate(-26.370968, -12.771227) "
                          ></polygon>
                          <polygon
                            id="Rectangle"
                            opacity="0.077704"
                            fill="#000"
                            points="22.7419355 8.58870968 30 12.6409734 30 15.2601969"
                            transform="translate(26.370968, 11.924453) scale(-1, 1) translate(-26.370968, -11.924453) "
                          ></polygon>
                          <path
                            id="Rectangle"
                            fill-opacity="0.15"
                            fill="#FFF"
                            d="M3.04512412,1.86636639 L15,9.19354839 L15,9.19354839 L15,17.1774194 L0,8.58649679 L0,3.5715689 C3.0881846e-16,2.4669994 0.8954305,1.5715689 2,1.5715689 C2.36889529,1.5715689 2.73060353,1.67359571 3.04512412,1.86636639 Z"
                          ></path>
                          <path
                            id="Rectangle"
                            fill-opacity="0.35"
                            fill="#FFF"
                            transform="translate(22.500000, 8.588710) scale(-1, 1) translate(-22.500000, -8.588710) "
                            d="M18.0451241,1.86636639 L30,9.19354839 L30,9.19354839 L30,17.1774194 L15,8.58649679 L15,3.5715689 C15,2.4669994 15.8954305,1.5715689 17,1.5715689 C17.3688953,1.5715689 17.7306035,1.67359571 18.0451241,1.86636639 Z"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <h6 class="MuiTypography-root MuiTypography-h6 css-1cb7fve">
                    INVEEP
                  </h6>
                </div>
                <div class="MuiBox-root css-1fobf8d">
                  <h5 class="MuiTypography-root MuiTypography-h5 css-vsfzib">
                    Welcome to
                    <!-- -->INVEEP
                    <!-- -->! 👋🏻
                  </h5>
                  <p class="MuiTypography-root MuiTypography-body2 css-4yvesp">
                    Please sign-in to your account and start the adventure
                  </p>
                </div>
                <div class="login-container">
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                      <label for="username">Nom d'utilisateur</label>
                      <input
                        type="text"
                        id="username"
                        formControlName="username"
                        class="form-control"
                      />
                      <div
                        *ngIf="
                          loginForm.controls['username'].invalid &&
                          (loginForm.controls['username'].dirty ||
                            loginForm.controls['username'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="loginForm.controls['username'].errors?.['required']"
                        >
                          Le nom d'utilisateur est obligatoire.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input
                        type="password"
                        id="password"
                        formControlName="password"
                        class="form-control"
                      />
                      <div
                        *ngIf="
                          loginForm.controls['password'].invalid &&
                          (loginForm.controls['password'].dirty ||
                            loginForm.controls['password'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="loginForm.controls['password'].errors?.['required']"
                        >
                          Le mot de passe est obligatoire.
                        </div>
                        <div
                          *ngIf="loginForm.controls['password'].errors?.['minlength']"
                        >
                          Le mot de passe doit comporter au moins 6 caractères.
                        </div>
                      </div>
                    </div>

                    <div *ngIf="errorMessage" class="alert alert-danger">
                      {{ errorMessage }}
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="loginForm.invalid"
                    >
                      Se connecter
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <img
              alt="tree"
              src="../../assets/images/pages/auth-v1-tree.png"
              class="css-1lwg88w"
            />
            <img
              alt="mask"
              src="../../assets/images/pages/auth-v1-mask-light.png"
              class="css-84vgca"
            />
            <img
              alt="tree-2"
              src="../../assets/images/pages/auth-v1-tree-2.png"
              class="css-c0oycv"
            />
          </div>
        </div>
      </div>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/pages/login",
        "query": {},
        "buildId": "y58Xs8ugEt13mg5fncY-K",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
  </body>
</html>
